# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\sigi\Desktop\uni\CDL_Mint\masterarbeit\momot_neu\momot_rl4mt\RL4MT\plugins\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
